<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="addFM" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name"><br><br>
    <input type="number" name="age" placeholder="Age"><br><br>
    <input type="text" name="education" placeholder="Education"><br><br>
    <input type="text" name="city" placeholder="City"><br><br>
    <input type="text" name="relation" placeholder="Relation"><br><br>
    <button type="submit">Submit</button>
    </form>
</body>
</html>